Repository CooperUnion/selfdrive, pull requests merged in 2022-11, with the labels that each got.

#79 CAN naming consistency
  can/can.yml
  can/gen_dbc.py
  dbw/node_bl/src/entry.c
  dbw/node_fw/mod/brake/brake.c
  dbw/node_fw/mod/encoder/encoder.c
  dbw/node_fw/mod/pb_mon/pb_mon.c
  dbw/node_fw/mod/rear_encoder/rear_encoder.c
  dbw/node_fw/mod/throttle/pedal.c
  dbw/node_fw/mod/throttle/throttle.c
  dbw/node_fw/mod/throttle/throttle.h
  dbw/node_fw/src/base/base.c
  dbw/node_fw/updater.py
  dbw/nodesd/node.py
  dbw/nodesd/nodesd.py
  dbw/py-steering/base.py
  dbw/py-steering/steer.py
  dbw/safed/tests.py
  dbw/safed/unit.py
  tests/test_template.py
  tests/test_throttle.py
Labels: enhancement, CAN, node_fw, DBW, MAJOR

#88 Add pull_request and workflow_dispatch workflow triggers
  .github/workflows/node_bl.yml
  .github/workflows/node_fw.yml
Labels: repo-machinery

#84 Modularize `node_fw`
  dbw/node_fw/CMakeLists.txt
  dbw/node_fw/lib/cuber-base/cuber_base.c
  dbw/node_fw/lib/cuber-base/cuber_base.h
  dbw/node_fw/lib/cuber-base/library.json
  dbw/node_fw/lib/cuber-nodetypes/cuber_nodetypes.h
  dbw/node_fw/lib/cuber-nodetypes/library.json
  dbw/node_fw/lib/ember-bltools/ember_bltools.c
  dbw/node_fw/lib/ember-bltools/ember_bltools.h
  dbw/node_fw/lib/ember-bltools/library.json
  dbw/node_fw/lib/ember-can/can_gen.c
  dbw/node_fw/lib/ember-can/can_gen.h
  dbw/node_fw/lib/ember-can/ember_can.c
  dbw/node_fw/lib/ember-can/ember_can.h
  dbw/node_fw/lib/ember-can/library.json
  dbw/node_fw/lib/ember-commonh/common.h
  dbw/node_fw/lib/ember-commonh/library.json
  dbw/node_fw/lib/ember-tasking/ember_taskglue.h
  dbw/node_fw/lib/ember-tasking/ember_tasking.c
  dbw/node_fw/lib/ember-tasking/ember_tasking.h
  dbw/node_fw/lib/ember-tasking/library.json
  dbw/node_fw/lib/ember-tasking/tasking.c
  dbw/node_fw/lib/ember-tasking/tasking.h
  dbw/node_fw/lib/ember-tasking/watchdog.c
  dbw/node_fw/lib/ember-tasking/watchdog.h
  dbw/node_fw/lib/libeeprom/eeprom.c
  dbw/node_fw/lib/libeeprom/eeprom.h
  dbw/node_fw/lib/libeeprom/eeprom_ember.c
  dbw/node_fw/lib/libeeprom/library.json
  dbw/node_fw/mod/blink/CMakeLists.txt
  dbw/node_fw/mod/blink/blink.c
  dbw/node_fw/mod/blink/library.json
  dbw/node_fw/mod/brake/CMakeLists.txt
  dbw/node_fw/mod/brake/brake.c
  dbw/node_fw/mod/brake/library.json
  dbw/node_fw/mod/encoder/CMakeLists.txt
  dbw/node_fw/mod/encoder/encoder.c
  dbw/node_fw/mod/encoder/library.json
  dbw/node_fw/mod/pb_mon/CMakeLists.txt
  dbw/node_fw/mod/pb_mon/library.json
  dbw/node_fw/mod/pb_mon/pb_mon.c
  dbw/node_fw/mod/rear_encoder/CMakeLists.txt
  dbw/node_fw/mod/rear_encoder/library.json
  dbw/node_fw/mod/rear_encoder/rear_encoder.c
  dbw/node_fw/mod/throttle/CMakeLists.txt
  dbw/node_fw/mod/throttle/library.json
  dbw/node_fw/mod/throttle/throttle.c
  dbw/node_fw/mod/throttle/throttle.h
  dbw/node_fw/platformio.ini
  dbw/node_fw/src/CMakeLists.txt
  dbw/node_fw/src/entry.c
  dbw/node_fw/src/module_list.inc
  dbw/node_fw/src/module_types.h
  dbw/node_fw/src/sys/bl_tools.c
  dbw/node_fw/src/sys/bl_tools.h
  dbw/node_fw/src/sys/entry.c
  dbw/node_fw/src/sys/module_list.h
Labels: enhancement, integration, build, node_fw, DBW, MAJOR

#91 Change can-gen library naming to match convention
  dbw/node_fw/lib/can-gen/can_gen.c
  dbw/node_fw/lib/can-gen/can_gen.h
  dbw/node_fw/lib/can-gen/library.json
Labels: node_fw, DBW
